.splash {
    background-image: url("../Images/pexels-cottonbro-4069291.jpg");
    filter: blur(10px);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.cover {
    background: var(--accent-color);
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.details {
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    top: 30vh;
}

.links {
    margin: 4rem;
    display: flex;
    justify-content: center;
}
  
.links a {
color: var(--primary-color);
}
.links p {
    color: var(--primary-color);
    margin-top: -5px;
}
strong {
    color: var(--secondary-color);
}
b {
    color: var(--primary-color);
}

.home h1, .project h1 {
    text-align: center;
    padding: 4em 4em 0;
}
.project h1 {
    padding: 2em 4em 0;
    margin-bottom: 0;
}


.intro {
    text-align: center;
    padding: 6em 6em 0
}
.sub-intro {
    text-align: center;
    padding: 2em 0 0;
}
.sub {
    opacity: 0.5;
    text-align: center;
    margin: 1em 0 0 0;
}

.goals {
    background-color: var(--accent-color);
    padding: 5em;
    justify-content: center;
    flex-direction: row;
}
.goals div {
    margin: 0 5vw;
}
.goals p {
    color: var(--bright);
    width: 30vw;
}
.goals h2 {
    color: var(--bright);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20em 0 0 0;
    padding: 2em;
    gap: 2em;
}
.grid-container .dark-cover {
    opacity: 0.1;
}
.grid-container a {
    margin: 0;
    opacity: 1;
}

.grid-item {
    text-align: center;
    width: 100%;
    height: 30vw;
}
.coursera {
    background-image: url("../Images/coursera.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.kace {
    background-image: url("../Images/kace.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section {
    margin: 5rem 0  0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top {
    margin: 0;
}

section h3 {
    margin: 3rem 0 0 0;
}
section .mid {
    width: 60vw;
}

.goal-card, .problem-card {
    padding: 4rem;  
    text-align: center;
}
.goal-card {
    background-color: var(--secondary-color);
}

.goal-card h2, .problem-card h2 {
    color: var(--bright);
}
.card {
    margin: 2rem 0 2rem 0;
}
.problem-card {
    background-color: var(--primary-color);
    width: 65vw;
}
.idea-card {
    display: flex;
}
.finish {
    margin: 6rem 0 0 0;
}
.display {
    background-color: #F5F5F5;
    height: 40vw;
}
.finish-line {
    background-image: url("../Images//finish.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark-cover {
    background: var(--dark);
    opacity: 0.8;
    height: 100%;
    width: 100%;
}
.display {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    width: 100%;
}
section a {
    width: 100%;
}
.map-card {
    margin-bottom: -4rem;
}
.finish-text {
    position: absolute;
    text-align: center;
    width: 100%;
}
.finish-text h2, .finish-text p {
    color: var(--bright);
}
