.splash {
    background-image: url("../Images/pexels-cottonbro-4069291.jpg");
    filter: blur(10px);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.cover {
    background: var(--accent-color);
    opacity: 0.4;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.details {
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    top: 30vh;
}

.links {
    margin: 4rem;
    display: flex;
    justify-content: center;
}
  
.links a {
color: var(--primary-color);
}
.links p {
    color: var(--primary-color);
    margin-top: -5px;
}
strong {
    color: var(--secondary-color);
}
b {
    color: var(--primary-color);
}

.home h1, .project h1 {
    text-align: center;
    padding: 4em 4em 0;
}
.project h1 {
    padding: 2em 4em 0;
    margin-bottom: 0;
}


.intro {
    text-align: center;
    padding: 6em 6em 0
}
.sub-intro {
    text-align: center;
    padding: 2em 0 0;
}
.sub {
    opacity: 0.5;
    text-align: center;
    margin: 1em 0 0 0;
}

.goals {
    background-color: var(--accent-color);
    padding: 5em;
    display: flex;
    justify-content: center;
    margin: 6rem 0 0 0;
}
.goals div {
    margin: 0 12vw;
}
.goals p {
    color: var(--bright);
    width: 20vw;
}
.goals h2 {
    color: var(--bright);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20em 0 0 0;
    padding: 2em;
    gap: 2em;
}
.grid-container a {
    margin: 0;
    opacity: 1;
}

.grid-item {
    text-align: center;
    width: 100%;
    height: 30vw;
}
.coursera {
    background-image: url("../Images/coursera.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.kace {
    background-image: url("../Images/kace.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section {
    margin-left: 20%;
}
.top {
    margin: 0;
}