.splash {
    background-image: url("../Images/pexels-cottonbro-4069291.jpg");
    -webkit-filter: blur;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-color: var(--accent-color);
}
.cover {
    background: var(--accent-color);
    opacity: 1;
    height: 100%;
}
.details {
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    top: 30vh;
}

.links {
    margin: 4rem;
    display: flex;
    justify-content: center;
}
  
.links a {
color: var(--primary-color);
}
.links p {
    color: var(--primary-color);
    margin-top: -5px;
}
  