.splash {
    background-image: url("../Images/pexels-cottonbro-4069291.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-size: cover;
}
/* .cover {
    background: var(--accent-color);
    opacity: .7;
    height: 100%;
} */
.details {
    position: relative;
    z-index: 1000;
    width: 100%;
    text-align: center;
}

.links {
    margin: 4rem;
    display: flex;
    justify-content: center;
}
  
.links a {
color: var(--primary-color);
}
.links p {
    color: var(--primary-color);
    margin-top: -5px;
}
  