.splash {
    background-image: url("../Images/pexels-cottonbro-4069291.jpg");
    filter: blur(10px);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.cover {
    background: var(--accent-color);
    opacity: 0.4;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.details {
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    top: 30vh;
}

.links {
    margin: 4rem;
    display: flex;
    justify-content: center;
}
  
.links a {
color: var(--primary-color);
}
.links p {
    color: var(--primary-color);
    margin-top: -5px;
}
strong {
    color: var(--secondary-color);
}
b {
    color: var(--primary-color);
}

.home h1 {
    text-align: center;
    padding: 4em 4em 0;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20em 0 0 0;
    padding: 2em
}

.grid-item {
    margin: 0 0 0 2em;
    text-align: center;
    width: 40vw;
    height: 40vw;
}
.coursera {
    background-image: url("../Images/coursera.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}