header {
    height: 50px;
    background-color: #ffffff;
    margin: 50px 0 0 0;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
}
.logo-container a {
    opacity: 1;
}

.logo {
    width: 8vw;
    height: 8vw;
    margin: -3vw 0 0 0;
  }
  footer {
      border-top: 1rem solid var(--dark);
  }